---
import Navbar from "./Navbar.astro";
import { Image } from 'astro:assets';
import squarePlaceholder from '../assets/images/square.png';


const images = [
  'https://images.unsplash.com/photo-1649923625793-af1cbd33c8bd?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
  'https://images.unsplash.com/photo-1534361960057-19889db9621e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
  'https://images.unsplash.com/photo-1555596873-1916fae19257?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cG9vZGxlfGVufDB8fDB8fHww'
];


---

<!-- Main content area with padding to account for fixed header and sidebar -->
<Navbar />
<div class="relative py-26 h-[calc(100vh-4rem)] z-20">
    <div class="fixed w-full max-w-screen px-4 sm:px-6 lg:px-8 h-screen flex items-center justify-center">  
        <section class="relative min-h-[calc(100vh-4rem)]  pb-[15%] px-4 sm:px-6 lg:px-8 flex flex-col items-center justify-center    z-10 ">    
         <h1 class="text-3xl font-bold text-center mb-12">App Manager</h1>
            <div class="grid grid-cols-7 grid-rows-3 gap-4 w-full max-w-7xl">
                <div data-id="1" class="col-start-2 col-span row-span-1 border-radius-lg overflow-hidden cursor-pointer">
                    <Image class="object-cover" src={squarePlaceholder} alt="" width={1000} height={1000}/>
                </div>

                <div data-id="2" class="row-start-2 col-span-2 row-span-2 border-radius-lg overflow-hidden cursor-pointer">
                    <Image class="object-cover"  src={squarePlaceholder} alt="" width={1000} height={1000}/>
                </div>

                <div data-id="3" class="col-start-3 col-span-3 row-span-3 border-radius-lg overflow-hidden cursor-pointer">
                    <Image class="object-cover" src={squarePlaceholder} alt="" width={1000} height={1000}/>
                </div>

                <div data-id="4" class="col-start-6 col-span-2 row-span-2 border-radius-lg overflow-hidden cursor-pointer" >
                    <Image class="object-cover" src={squarePlaceholder} alt="" width={1000} height={1000}/>
                </div>
                <div data-id="5" class="col-start-6 col-span-1 row-span-1 border-radius-lg overflow-hidden cursor-pointer">
                    <Image class="object-cover" src={squarePlaceholder} alt="" width={1000} height={1000}/>
                </div>
            </div>
        </section>
    </div>
</div>
<main class="relative">
    <div id="section-2" class="relative h-[105vh] -mt-12 bg-amber-50 rounded-t-4xl overscroll-behavior-none z-[90]">
        <div class="relative w-screen h-8 top-4 p-4 my-6 flex items-center justify-center">
            <div class="h-1.5 w-12 rounded-full my-2 bg-neutral-500/15"></div>
        </div>
        <div class="flex p-6 items-start justify-center">
            <div class="w-full mx-auto">
                <div class="flex flex-col lg:flex-row gap-8 w-full">
                    <div class="w-full lg:w-1/2">
                        <div class="p-8 w-full">
                            <h2 id="section-title" class="text-4xl font-bold text-blue-950 mb-4">Selecciona una imagen</h2>
                            <p id="section-content" class="text-blue-950 text-lg">Haz clic en cualquiera de las imágenes para ver su contenido aquí.</p>
                        </div>
                        <div class="w-full">
                            <ul class="flex flex-col gap-4 w-full">
                                <li class="flex items-baseline gap-2">
                                    <h3 class="text-xl font-semibold text-blue-950">Descripción:</h3>
                                    <span id="description" class="text-blue-950 text-lg"></span>
                                </li>
                                <li class="flex items-baseline gap-2">
                                    <h3 class="text-xl font-semibold text-blue-950">Tamaño:</h3>
                                    <span id="size" class="text-blue-950 text-lg"></span>
                                </li>
                                <li class="flex items-baseline gap-2">
                                    <h3 class="text-xl font-semibold text-blue-950">Origen:</h3>
                                    <span id="origin" class="text-blue-950 text-lg"></span>
                                </li>
                                <li class="flex items-baseline gap-2">
                                    <h3 class="text-xl font-semibold text-blue-950">Uso común:</h3>
                                    <span id="common-use" class="text-blue-950 text-lg"></span>
                                </li>
                                <li class="flex items-baseline gap-2">
                                    <h3 class="text-xl font-semibold text-blue-950">Hechos:</h3>
                                    <span id="facts" class="text-blue-950 text-lg"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="image-container" class="w-full lg:w-1/2 bg-white p-4 rounded-lg shadow-md border border-gray-200 overflow-hidden flex flex-col mt-8 lg:mt-0 lg:sticky lg:top-8">
                        <img 
                            id="image" 
                            class="w-full h-64 md:h-80 lg:h-96 object-cover rounded-lg" 
                            src="" 
                            alt="Imagen de la raza de perro"
                            onerror="document.getElementById('image-container').style.display = 'none';"
                            onload="document.getElementById('image-container').style.display = 'flex';"
                        />
                    </div>
                </div>
            </div>
           
        </div>
        <div id="carousel" class="w-full h-[calc(57vh-4rem)] bg-amber-400 p-4 rounded-lg shadow-md border border-gray-200 overflow-hidden flex flex-col mt-8 lg:mt-0 lg:sticky lg:top-8">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  {images.map((src) => (
                    <div class="swiper-slide">
                      <img src={src} alt="Imagen del slider" class="w-full" />
                    </div>
                  ))}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

              </div>
        </div>
    </div>
</main>

<script type="module" src="../scripts/image-onclick-handler.js" is:inline></script>
<script>
import Swiper from 'swiper';
import 'swiper/css';
import { Navigation, Pagination } from 'swiper/modules';
const swiper = new Swiper('.swiper', {
    modules: [Navigation, Pagination],
    speed: 400,
    spaceBetween: 100,
    freeMode: true,
      // If we need pagination
    pagination: {
        el: '.swiper-pagination',
    },  

    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
});
</script>